@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700;800&family=Poppins:wght@400;600&display=swap');

body{
  font-family: 'Outfit', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-own-color{
  color:#00175e;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}
.welcome-title{
  font-size: 34px;
  font-weight: 700;
}

.regi-achor{
  text-decoration: none;
  color: rgb(85, 5, 5);
  cursor: pointer;
}
.regi-achor:hover{
  color: rgb(85, 5, 5);
  cursor: pointer;
  text-decoration: underline;
}

.btn-verify{
  color: #198754;
}
.btn-verify:hover{
  color: #fff;
}